<!DOCTYPE html>
<html lang="en">
    {{>head}}
    <body>
        <h1>Skate Park</h1>
        <div class="py-4">
            <h2>Datos del perfil</h2>
            <hr class="w-50" />
            <form>
                <div class="form-group row w-50 m-auto">
                    <div class="form-group col-12 col-sm-6">
                        <label>Email</label>
                        <input class="form-control m-auto" id="email" disabled value={{skater_data.email}} />
                    </div>
                    <div class="form-group col-12 col-sm-6">
                        <label>Nombre</label>
                        <input class="form-control m-auto" id="nombre" value={{skater_data.nombre}} />
                    </div>
                    <div class="form-group col-12 col-sm-6">
                        <label>Password</label>
                        <input type="password" class="form-control m-auto" id="password" value={{skater_data.password}} />
                    </div>
                    <div class="form-group col-12 col-sm-6">
                        <label>Repita la password</label>
                        <input type="password" class="form-control m-auto" id="confirm_password" value={{skater_data.password}} />
                    </div>
                    <div class="form-group col-12 col-sm-6">
                        <label>Años de experiencia</label>
                        <input class="form-control m-auto" id="experiencia" value={{skater_data.anos_experiencia}} />
                    </div>
                    <div class="form-group col-12 col-sm-6">
                        <label>Especialidad</label>
                        <input class="form-control m-auto" id="especialidad" value={{skater_data.especialidad}} />
                    </div>
                </div>
                <div class="mb-1">
                    <button type="button" class="btn btn-primary" id="update">Actualizar</button>
                </div>
                <div>
                    <button type="button" class="btn btn-danger" id="delete" userid={{skater_data.id}} >Eliminar cuenta</button>
                </div>
            </form>
        </div>
        <script src="./js/datos.js"></script>
    </body>
</html>
